<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <title>TEB - Employee Management</title>
        <link th:href="@{css/general_template.css}" rel="stylesheet">
    </head>

    <body>

        </br></br>

        <div class="index_main_div">

            <h1>Employee Management - Main Page</h1>

            <a href="show/employee-registration" class="link_employee_registration">
                Employee Registration Page
            </a>

            <table border="1" cellpadding="3">

                <thead>

                </thead>


                <tbody>

                </tbody>

            </table>

        </div>


    </body>

</html>